@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Task Scheduling Application</h1>
    <p>Creating users and attempting to assign them to a task</a>.</p>
</div>
<img src="http://upload.wikimedia.org/wikipedia/commons/e/e5/Post-it-note-transparent.png
" style="display: block; margin-left: auto; margin-right: auto; height:30%; width:30%">